<p id="notice"><%= notice %></p>

<h1>Canonical Plans</h1>

<%= paginate @canonical_plans %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Plan name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canonical_plans.each do |canonical_plan| %>
      <tr>
        <td><%= canonical_plan.id %></td>
        <td><%= canonical_plan.plan_name %></td>
        <td><%= link_to 'Show', canonical_plan %></td>
        <td><%= link_to 'Edit', edit_canonical_plan_path(canonical_plan) %></td>
        <td><%= link_to 'Destroy', canonical_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Canonical Plan', new_canonical_plan_path %>
